* {
  padding: 0;
  margin: 0;
}
body {
  background: #f3f3f3;
}

#contain {
  margin: 30px 0 0 0;
  ul {
    float: left;
    width: 100%;
    list-style: none;
    li {
      position: relative;
      margin: 0 20px 25px 20px;
      padding: 5px 3px;
      min-height: 90px;
      border-radius: 6px;
      background: #fff;
      a {
        text-decoration: none;
      }
      figure {
        margin: 0 10px 0 8px;
        border-radius: 10px;
        float: left;
        img {
          width: 60px;
          height: 90px;
          border-radius: 5px;
        }
      }
      .list-content {
        margin: 0 0 0 85px;
        line-height: 1.4;
        p {
          margin: 20px 5px 0 0;
          font-weight: bold;
          font-size: 16px;
          width: 100%;
          color: #333;
          max-height: 60px;
          overflow: hidden;
        }
      }
    }
  }
}