<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="screen-orientation" content="portrait">
    <title>好友买卖</title>
    <script src="https://o9tsh54u9.qnssl.com/flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../dest/css/Oct3/index.css?rev=@@hash"/>
</head>
<body>
<div id="main">
    <header>
        <info></info>
    </header>

    <article>
        <nav>
            <div :class="{'on': on == 0 }" @click="switchTab(0)">好友排行</div>
            <div :class="{'on': on == 1 }" @click="switchTab(1)">我的奴隶</div>
        </nav>
        <div id="switch">
            <section id="contaninleft" :class="{'left0' : on == 1}">
                <div class="rankswitch">
                    <span>身价</span>
                    <span>财富</span>
                </div>
                <list v-for="(el,index) in statusList"
                      :el="el" :idx="index"
                ></list>
                <list v-for="(el,index) in goldenList" :el="el" :idx="index"></list>
            </section>
            <section id="containright" :class="{'right1': on == 1}">
                <h3>222</h3>
            </section>
        </div>
    </article>

</div>


    <script type="text/x-template" id="infoTpl">
        <div class="infobox">
            <figure class="owner-head"
                    :style="{'background' : 'url('+ owner.headimgurl +') no-repeat',
                        'backgroundSize' : 'cover',
                        'backgroundPosition' : 'center'}"
                    :class="{ headon: headType === 0, singleon : master.headimgurl === ''}"
                    @click="switchHead(0)"
            ></figure>
            <figure class="master-head"
                v-if="master.headimgurl !== ''"
                :style="{ background: 'url('+ master.headimgurl +') no-repeat',
                        'backgroundSize' : 'cover',
                        'backgroundPosition' : 'center'}"
                :class="{ headon: headType === 1}"
                @click="switchHead(1)"
            ></figure>
            <h3>
                <span v-text="headType === 0 ? '昵称' : '你的主人'"></span>
                <b v-text="headType === 0 ? owner.nickname : master.nickname"></b>
            </h3>
            <h4>
                <span>身价</span>
                <b v-text="headType === 0 ? owner.social_status : master.social_status"></b>
            </h4>
            <h4>
                <span>财富</span>
                <b v-text="headType === 0 ? owner.golden : master.golden"></b>
            </h4>
        </div>

    </script>

    <script type="text/x-template" id="listTpl">
        <section class="section">
            <p>{{el}} - {{idx}}</p>
        </section>
    </script>


<script src="../../unitTest/Oct3/index.js"></script>

<script src="../../assets/lib/zw.js"></script>
<script src="../../assets/lib/vue.js"></script>
<script src="../../js/Oct3/index.js"></script>
</body>
</html>