@import '../reset';
body {
  padding:0 0 50px;
}

#header{
  background: #FF9C47;
  color: #fff;
  position: relative;
  &:before{
    content: "";
    border-radius: 50%;
    background-color: #fb994a;
    box-shadow: 0 50px 90px rgba(255, 255, 255, 0.18);
    position: absolute;
    left: 0;
    top: -50%;
    width: 100%;
    height: 50%;
  }
  .date{
    padding: 10px 0 0 4%;
    i{
      font-size: 12px;
      opacity: .6;
    }
    p{

      b{
        font-size: 26px;
        font-weight: bold;
        line-height: 30px;
        text-shadow: 0 4px 15px rgb(248, 133, 36);
      }
      span{
        margin: 0 0 0 7px;
        display: inline-block;
        opacity: .9;
        &:before{
          content: "";
          display: inline-block;
          width: 1px;
          height: 15px;
          background: #fff;
          transform: rotate(22deg);
          margin: 0 3px 0 0;
          opacity: .4;

        }
      }
    }
  }
  /* day */
  nav{
    margin: 10px 0 0;
    ul{
      display: -webkit-box;
      li{
        font-size: 10px;
        -webkit-box-flex: 1;
        text-align: center;
        opacity: .5;
        line-height: 25px;
      }
    }
  }
}
#container {

}
/*顶部结束*/

/*日历开始*/
#dateContent{
  border-bottom: 1px dotted #eee;

}
#date {
  width: 100%;
  height:165px;
  transition: height .2s ease;
  overflow: hidden;
  position: relative;
  #dateBox {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    position: relative;
    ul {
      padding: 5px 0;
      position: absolute;
      top:0;
      left:0;
      width:100%;
      letter-spacing: -3px;
      li{
        width: 14.285714285%;
        text-align: center;
        color: #444;
        display: inline-block;
        letter-spacing: 0;
        line-height: 30px;
        border-bottom: 2px solid transparent;
        position: relative;
        z-index: 2;
        font-size: 12px;

      }
      .other {
        color: #e3e3e3;
      }
      .sign{
        border-bottom: 2px solid #F19259;
      }
      .exam{
        &:before {
          content: "\e61e";
          font-family: "iconfont";
          position: absolute;
          right: 8px;
          top: -5px;
          font-size: 10px;
          color: #71DA7A;
          font-weight: bold;
        }
      }
      .event{
        color: #fff;
        &:after {
          content: "";
          width: 22px;
          height: 22px;
          position: absolute;
          background: #FFA354;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          margin: -11px 0 0 -11px
        }
        i {
          position: relative;
          line-height: 22px;
          z-index: 3;
        }
      }
      .over{
        color: #fff;
        &:after {
          content: "";
          width: 22px;
          height: 22px;
          position: absolute;
          background: #dcdcdc;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          margin: -11px 0 0 -11px
        }
        i {
          position: relative;
          line-height: 22px;
          z-index: 3;
        }
      }

    }
  }
  #dateBg{
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
    &:before{
      content: "";
      width: 14.285714285%;
      position: absolute;
      top: 0;
      right: 14.285714285%;
      height: 100%;
      background: rgba(255, 161, 81, 0.1);
    }
    &:after{
      content: "";
      width: 14.285714285%;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background: #fbfbfb;
    }
  }
  #dateBg.change {
    &:before{
      background: #fbfbfb;
    }
    &:after{
      background: rgba(255, 161, 81, 0.1);
    }
  }
}
.trans {
  -webkit-transition: -webkit-transform .23s ease;
  transition: -webkit-transform .23s ease;
}
/*日历结束*/