<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="screen-orientation" content="portrait">
    <title>Title</title>
    <link rel="stylesheet" href="./../../../dest/css/alcohol/year.css"/>
    <script src="//at.alicdn.com/t/font_504616_p08j21tcebd6xbt9.js"></script>
</head>
<body>
<div id="container">
    <header>
        <div>
            <div class="title1">
                <div></div>
            </div>
            <div class="title2"></div>
            <div class="title3">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-kehuxinxi-xiangqing-sidai"></use>
                </svg>
            </div>
            <span v-for="el in 26" :class="'span' + el"></span>
        </div>
        <h5></h5>
        <p class="p"></p>
    </header>
    <article>
        <section>
            <span v-for="s in 2"></span>
            <div class="img">
                <img src="./maotai.jpeg"/>
            </div>
            <div class="title">
                <p class="hot" v-text="'【纯粮酒】飞天茅台酿造工艺'"></p>
                <h5>唇齿留香 回味无穷</h5>
                <h4>酱香茅台53°(限购版)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i>200</i>
                    <b>元/瓶</b>
                </h4>
            </div>
        </section>
        <section style="height: 220px;">
            <span v-for="s in 2"></span>
            <div class="img" style="top: 40px;">
                <img src="./ganhong.jpeg"/>
            </div>
            <div class="title">
                <p class="hot" v-text="'【纯粮酒】传统工艺至尊干红'"></p>
                <h4>赤霞珠干红13°&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i>60</i>
                    <b>元/瓶</b>
                </h4>
                <h4>启航干红(珍藏版)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i>568</i>
                    <b>元/瓶</b>
                </h4>
                <h4>金酿干红(珍藏版)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i>588</i>
                    <b>元/瓶</b>
                </h4>
            </div>
        </section>
        <section v-for="el in list">
            <span v-for="s in 2"></span>
            <div class="img">
                <img :src="el.url"/>
            </div>
            <div class="title">
                <p :class="el.hot? 'hot' : ''" v-text="el.name"></p>
                <h5 v-if="!el.multi" v-text="el.desc"></h5>
                <i v-if="!el.multi" v-text="el.price"></i>
                <b v-if="!el.multi" v-text="el.unit"></b>
                <h4 v-if="el.multi">大曲五粮63°&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i>75</i>
                    <b>元/瓶</b>
                </h4>
                <h4 v-if="el.multi">浓香五粮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i>100</i>
                    <b>元/瓶</b>
                </h4>
            </div>
        </section>
        <section style="height: 260px; border-bottom: none;">
            <span v-for="s in 2"></span>
            <div class="img" style="width: 220px; height: 220px;">
                <img src="./qr.jpeg"/>
            </div>
                <div class="footer1">新年到, 品好酒! 美酒热销进行中 ~ </div>
                <div class="footer2"><img src="./qr3.jpeg" alt=""/></div>
                <div class="footer3">长按识别二维码<br/>
                   👈 加他品美酒</div>
        </section>
    </article>
    <div class="intro">
        <div>
            <h3>
                <img src="./notice.png" alt=""/>
            </h3>
            <h4>品酒，也是品味人生</h4>
            <p>先舌尖，体会甜<br/>
               舌两侧，体会酸<br/>
               舌中间，体会咸<br/>
               再舌根，体会苦<br/><br/>

               入喉之后，不用口腔呼气，<br/>而用鼻孔呼气，能更好的感受它的焦香味
            </p>
        </div>
    </div>
</div>
<script src="./../../js/vue.min.js"></script>
<script src="./../../js/alcohol/index.js"></script>
</body>
</html>