@charset "UTF-8";
@import "../hotreset";
@import "../p2r";
@import "../iconfont";
body {
  width: 100%;
  background: rgb(244,244,244);
  min-height: 100%;
  overflow-x: hidden;
}
header {
  width: 100%;
  height: pr(400);
  background: #FD9940;
  padding: pr(60) 0 0 0;
  #avatar {
    position: relative;
    width: pr(210);
    height: pr(210);
    margin: 0 auto;
    border-radius: 50%;
    background: #FD9940;
    border: pr(1) solid rgba(255,255,255,.6);
    figure {
      position: relative;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      width: pr(170);
      height: pr(170);
      margin: pr(20);
      border-radius: 50%;
    }
  }
  .male {
    &:after {
      position: absolute;
      font-family: 'iconfont';
      content: '\e605';
      width: pr(55);
      height: pr(55);
      bottom: pr(5);
      right: pr(-20);
      text-align: center;
      line-height: pr(55);
      border-radius: 50%;
      @include fz(14px);
      color: rgba(255,255,255,.8);
      background: #FD9940;
      border: pr(1) solid rgba(255,255,255,.6);
    }
  }
  .female {
    &:after {
      position: absolute;
      font-family: 'iconfont';
      content: '\e606';
      width: pr(55);
      height: pr(55);
      bottom: pr(5);
      right: pr(-20);
      text-align: center;
      line-height: pr(55);
      border-radius: 50%;
      @include fz(14px);
      color: rgba(255,255,255,.8);
      background: #FD9940;
      border: pr(1) solid rgba(255,255,255,.6);
    }
  }
  h3 {
    @include fz(18px);
    font-weight: bold;
    color: rgba(255,255,255,.96);
    overflow: hidden;
    margin: pr(25) 0 pr(5);
    text-align: center;
  }
  h4 {
    @include fz(14px);
    color: rgba(255,255,255,.75);
    text-align: center;
  }

  .button {
    position: absolute;
    top: 0;
    right: pr(40);
    display: inline-block;
    vertical-align: middle;
    padding: 0.65217rem 0 0.65217rem 0.1087rem;
    a {
      background: rgba(100,100,100,.3);
      width: pr(180);
      height: pr(50);
      border-radius: 2.17391rem;
      padding: pr(5);
      transition: background .3s .1s ease;
      display: block;
    }
    b {
      width: pr(110);
      height: pr(50);
      line-height: pr(50);
      text-align: center;
      background: #fff;
      display: block;
      border-radius: 2.17391rem;
      transition: transform .3s ease;
      @include fz(10px);
      color: rgba(0,0,0,.5);
    }
    .isnot {
      float: right;
    }
  }
}

article {
  nav {
    display: flex;
    div {
      display: inline-block;
      width: 50%;
      text-align: center;
      color: #aaa;
      padding: pr(30) 0;
      @include fz(12px);
      font-weight: bold;
    }
    .on {
      position: relative;
      color: #FD9940;
      text-shadow: 0 0 pr(40) rgba(0,0,0,.2);
      &:after {
        content: '';
        position: absolute;
        display: inline-block;
        left: 50%;
        bottom: 0;
        width: pr(60);
        height: pr(10);
        margin: 0 pr(-30);
        background: #FD9940;
        border-radius: pr(7);
        box-shadow: 0 0 pr(40) rgba(0,0,0,.2);
      }
    }
  }
}

#switch {
  position: relative;
}

#contaninleft {
  position: absolute;
  top: 0;
  left: 0;
  width: 89%;
  transition: all .5s ease;
  margin: pr(50) 6%;
  padding: 0 0 0 4%;
  border-left: pr(1) solid #e3e3e3;
  .section {
    position: relative;
    padding: pr(25) 0 pr(20);
    margin: 0 0 pr(40) 0;
    .date {
      position: absolute;
      height: pr(42);
      background: #f4f4f4;
      left: pr(-80);
      top: pr(-25);
      b {
        @include fz(12px);
        color: #999;
        vertical-align: top;
      }
      i {
        @include fz(12px);
        color: #ccc;
        font-style: italic;
        vertical-align: top;
      }
    }
    .records {
      li {
        position: relative;
        margin: 0 0 pr(3) 0;
        span {
          @include fz(14px);
          color: #999;
        }
        b {
          @include fz(14px);
          color: #333;
          font-weight: bolder;
        }
      }
    }
  }
}

#containright {
  position: absolute;
  top : 0;
  left: 100%;
  width: 0;
  transition: left .5s ease;
  overflow: hidden;
}



//切换
.left0 {
   left: -100%!important;
}
.right0 {
  left: 0!important;
}
.left1{
    left: 100%!important;
}
.right1 {
  left: 0!important;
  width: 100%!important;
}


//图标
.common-icn{
  font-family: 'iconfont';
  position: absolute;
  width: pr(60);
  height: pr(60);
  text-align: center;
  line-height: pr(60);
  border-radius: 50%;
  @include fz(14px);
  top: pr(15);
  left: pr(-70);
}

.finish{
  &:before {
    content: '\e607';
    color: #fff;
    background: #4DCE68;
    @extend .common-icn;
  }
}

.unfinish{
  &:before {
    content: '\e607';
    color: #fff;
    background: red;
    @extend .common-icn;
  }
}
.leave{
  &:before {
    content: '\e607';
    color: #fff;
    background: red;
    @extend .common-icn;
  }
}
.punish{
  &:before {
    content: '\e607';
    color: #fff;
    background: red;
    @extend .common-icn;
  }
}
