@font-face {
  font-family: 'friend-trade';
    src: url('//at.alicdn.com/t/font_1475584672_4242702.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1475584672_4242702.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1475584672_4242702.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1475584672_4242702.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1475584672_4242702.svg#iconfont') format('svg'); /* iOS 4.1- */
  }


.friend-trade-icon {
  font-family: 'friend-trade';
  color: rgba(255,255,255,96);
}