@charset "UTF-8";
@import "reset";
@import "../p2r";
@import "friendicon";

html {
  height: 100%;
}
body {
  display: block;
  width: 100%;
  background: rgb(244,244,244);
  height: 100%;
}
#main {
  display: block;
  overflow-x: hidden;
  height: 100%;
}

#switch {
  position:absolute;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}


//左右切换开始
.toleft {
  max-height: 1px!important;
  overflow: hidden!important;
  transform: translate3d(-100%, 0, 0)!important;
  -webkit-transform: translate3d(-100%, 0 ,0)!important;
}
.toright {
  max-height: none!important;
  overflow: scroll!important;
  transform: translate3d(0, 0, 0)!important;
  -webkit-transform: translate3d(0, 0 ,0)!important;
}
//左右切换结束


//左屏排行购买开始
#containleft {
  position: absolute;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  top:0;
  left:0;
  bottom:0;
  right:0;
  width: 100%;
  padding: 0 0 pr(120) 0;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0 ,0);
  transition: transform .5s ease;
  -webkit-transition: -webkit-transform .3s ease;
  .leftheader {
    position: relative;
    width: 100%;
    height: pr(200);
    background: rgba(255,152,51,.87);
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      height: pr(200);
      width: 100%;
      background: url('https://o9ts1vf1l.qnssl.com/10-24.jpg') no-repeat;
      background-size: cover;
      background-position: top center;
      z-index: -1;
    }
    .infobox {
      figure {
        position: absolute;
        width: pr(130);
        height: pr(130);
        border-radius: 50%;
        border: pr(5) solid rgba(255,255,255,.96);
        top: pr(25);
        opacity: .85;
        transform: scale(.8);
        transition: all .3s ease;
        box-shadow: 0 pr(5) pr(35) rgba(0,0,0,.3);
        &:after {
          position: absolute;
          content: '';
          width: pr(130);
          height: pr(130);
          border-radius: 50%;
          top: pr(-5);
          left: pr(-5);
          border: pr(5) solid rgba(0,0,0,.2);
          background: rgba(0,0,0,.3);
        }
        &.headon {
          z-index: 10;
          opacity: 1;
          transform: scale(1);
          &:after {
            display: none;
          }
        }
        &.singleon {
          left: pr(85);
        }
      }
      .owner-head {
        left: pr(50);
      }
      .master-head {
        left: pr(140);
      }
    }
    .baseInfo {
      position: absolute;
      top: pr(20);
      left: pr(300);
      width: pr(300);
      h3 {
        width: pr(300);
        @include fz(16px);
        font-weight: bold;
        color: rgba(255,255,255,.9);
        overflow: hidden;
        margin: pr(15) 0 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        .owner-span {
          @include fz(12px);
          font-weight: 300;
          color: rgba(255,255,255,.6);
          &:before {
            display: inline-block;
            margin: 0 pr(3) 0 0;
            content: '\e60a';
            font-family: 'friend-trade';
            @include fz(16px);
          }
        }
        .master-span {
          font-weight: 300;
          @include fz(12px);
          color: rgba(255,255,255,.6);
          &:before {
            display: inline-block;
            margin: 0 pr(6) 0 pr(5);
            content: '\e609';
            font-family: 'friend-trade';
            @include fz(12px);
          }
        }
      }
      .value-now,.balance-total {
        @include fz(16px);
        margin: pr(5) 0 0 0;
        color: rgba(255,255,255,.8);
        span {
          font-weight: 300;
          @include fz(12px);
          color: rgba(255,255,255,.6);
          &:before {
            display: inline-block;
            font-family: 'friend-trade';
          }
        }
      }
      .value-now span:before {
        margin: 0 pr(3) 0 0;
        content: '\e601';
        @include fz(16px);
      }
      .balance-total span:before {
        margin: 0 pr(5) 0 pr(2);
        content: '\e60c';
        @include fz(14px);
      }
    }
  }
  .rankswitch {
    position: relative;
    padding: pr(20) 0;
    height: pr(42);
    text-align: center;
    span {
      display: inline-block;
      padding: pr(7) pr(30);
      margin: 0 pr(15);
      border-radius: pr(5);
      @include fz(12px);
      font-weight: 400;
      color: rgba(255,152,51,.5);
      background: #fff;
      &:after {
        content: '\e60b';
        font-family: 'friend-trade';
      }
    }
    span.span-on {
      color: rgba(255,152,51,.98);
      box-shadow: 0 pr(10) pr(20) rgba(0,0,0,.05);
    }
  }
  .tip {
    color: #bbbbbb;
    @include fz(14px);
    font-weight: 500;
    text-align: center;
    margin: pr(45) 0 0 0;
    text-shadow: 0 pr(3) pr(15) rgba(0,0,0,.05);
    font-style: italic;
  }
  .record:nth-child(1) {
    b {
      color: #ff9933;
      text-shadow: 0 pr(2) pr(15) rgba(0,0,0,.2);
    }
  }
  .record:nth-child(2) {
    b {
      color: #F36F70;
      text-shadow: 0 pr(2) pr(15) rgba(0,0,0,.2);
    }
  }
  .record:nth-child(3) {
    b {
      color: #83DC53;
      text-shadow: 0 pr(2) pr(15) rgba(0,0,0,.2);
    }
  }
  .record {
    position: relative;
    padding: pr(5) pr(10);
    margin: 0 pr(35);
    border-bottom: 1px solid rgba(0,0,0,.05);
    height: pr(100);
    line-height: pr(100);
    b {
      display: inline-block;
      vertical-align: top;
      color: #999;
      font-weight: bold;
      @include fz(20px);
      margin: 0 pr(20) 0 0;
    }
    figure {
      display: inline-block;
      width: pr(80);
      height: pr(80);
      margin: pr(10) 0;
      opacity: 1;
      border-radius: 50%;
      border: 1px solid #ff9933;
      box-shadow: 0 pr(5) pr(35) rgba(0, 0, 0, .3);
      vertical-align: top;
    }
    i {
      display: inline-block;
      margin: 0 0 0 pr(20);
      @include fz(16px);
      color: #555;
      width: pr(260);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 400;
    }
    p {
      position: absolute;
      display: inline-block;
      left: pr(420);
      vertical-align: top;
      margin: 0 0 0 pr(20);
      &:before {
        font-family: 'friend-trade';
        @include fz(20px);
        color: rgba(255,152,51,.6);
      }
      span {
        @include fz(14px);
        color: #ff9933;
        padding: 0 0 0 pr(10);
      }
    }
    p.list-pay:before {
      content: '\e606';
    }
    p.list-value:before {
      content: '\e601';
    }
    p.list-balance:before {
      content: '\e60c';
    }
  }
}
//左屏排行购买结束


#containcenter,#containright {
  max-height: 1px;
  overflow: hidden;
  position: absolute;
  -webkit-overflow-scrolling: touch;
  top:0;
  left:0;
  bottom:0;
  right:0;
  width: 100%;
  transform: translate3d(100%, 0 ,0);
  -webkit-transform: translate3d(100%, 0 ,0);
  transition: transform .5s ease;
  -webkit-transition: -webkit-transform .3s ease;
}


//中屏用户操作开始
#containcenter {
  .centerheader {
    width: 100%;
    height: pr(150);
    overflow: hidden;
    position: relative;
    padding: pr(35) 0 0;
    color: #fff;
    .bottom-cri {
      position: absolute;
      bottom: pr(40);
      width: pr(1000);
      left: pr(-185);
      height: pr(400);
      background: #ff9933;
      border-radius: 50%;
      z-index: -1;
    }
    nav {
      position: relative;
      text-align: center;
      height: pr(32);
      line-height: pr(32);
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      z-index: 1;
    }
    span {
      display: inline-block;
      font-weight: bold;
      margin: 0 pr(15);
      @include fz(12px);
      color: rgba(255,255,255,.5);
      -webkit-transition: all .4s cubic-bezier(0.25, 0.1, 0.27, 1.24);
      transition: all .4s cubic-bezier(0.25, 0.1, 0.27, 1.24);
      -webkit-transform: scale(1);
      transform: scale(1);
      &:first-child {
        margin: 0 pr(5) 0 pr(50);
      }
      &.center-nav-on {
        color: #fff;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
      }
    }
    p {
      text-align: center;
      i {
        width: pr(25);
        height: pr(5);
        border-radius: pr(5);
        margin: 0 pr(4);
        display: inline-block;
        -webkit-transition: all .4s cubic-bezier(0.25, 0.1, 0.05, 1.16);
        transition: all .4s cubic-bezier(0.25, 0.1, 0.05, 1.16);
        background: rgba(255,255,255,.5);
        &.center-p-on {
          width: pr(70);
          background: #fff;
        }
      }
    }
  }
  .mine {
    nav {
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
  }
  .events {
    nav {
      -webkit-transform: translate3d(pr(-35),0,0);
      transform: translate3d(pr(-35),0,0);
    }
  }
  #slave-box, #history-box {
    position: absolute;
    top: pr(170);
    padding: 0 0 pr(120) 0;
    width: 100%;
    opaticy: 1;
  }
  .tobottom {
    opacity: 0;
    transform: translate3d(0, pr(150) , 0);
    -webkit-transform: translate3d(0,pr(150), 0);
    -webkit-transition: all .4s cubic-bezier(0.25, 0.1, 0.27, 1.24);
    transition: all .4s cubic-bezier(0.25, 0.1, 0.27, 1.24);
  }
  .tohide {
    display: none;
  }
  .slave-block {
    position: relative;
    width: pr(570);
    margin: 0 auto pr(90);
    background: #fff;
    border: pr(3);
    box-shadow: 0 pr(5) pr(20) rgba(0,0,0,.05);
    .slave-info {
      position: relative;
      width: 100%;
      height: pr(170);
      img {
        position: absolute;
        display: inline-block;
        top: pr(20);
        left: pr(35);
        border: 2px solid #eee;
        border-radius: pr(22);
        height: pr(120);
        width: pr(120);
        box-shadow: 0 pr(5) pr(10) rgba(100,100,100,.02);
      }
      h3 {
        top: pr(25);
        left: pr(200);
        position: absolute;
        color: #777;
        @include fz(16px);
        width: pr(350);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: top;
        &:before {
          display: inline-block;
          margin: 0 pr(10) 0 0;
          content: '\e60a';
          font-family: 'friend-trade';
          @include fz(14px);
          color: #ddd;
        }
      }
      h4,h5 {
        left: pr(200);
        position: absolute;
        color: #777;
        @include fz(14px);
        width: pr(350);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: top;
        &:before {
          display: inline-block;
          margin: 0 pr(10) 0 0;
          content: '\e60a';
          font-family: 'friend-trade';
          @include fz(14px);
          color: #ddd;
        }
      }
      h4 {
        top: pr(68);
        &:before {
          content: '\e601';
        }
      }
      h5 {
        top: pr(103);
        &:before {
          content: '\e60c';
        }
      }
    }
    .opare-box {
      display: block;
      max-height: 0;
      padding: 0 pr(15);
      background: #f9f9f9;
      overflow: hidden;
      transition: max-height,padding .3s ease;
      span {
        display: inline-block;
        padding: pr(8) pr(25);
        border-radius: pr(25);
        margin: pr(5) pr(10);
        color: #fff;
      }
      span:nth-child(1) {
        background: #abcdef;
      }
      span:nth-child(2) {
        background: #F36F70;
      }
      span:nth-child(3) {
        background: #83DC53;
      }
      span:nth-child(4) {
        background: #E1EC7D;
      }
      span:nth-child(5) {
        background: #E1EC7D;
      }
    }
    .opare-box.opon {
      max-height: pr(200);
      padding: pr(20) pr(15);
    }
    .read_more {
      display: block;
      position: absolute;
      text-align: center;
      bottom: pr(-64);
      left: 0;
      width: 100%;
      border-radius: 0 0 pr(3) pr(3);
      background: #fff;
      height: pr(65);
      .go_read {
        text-align: center;
        line-height: pr(65);
        color: #ccc;
        &:after {
          display: inline-block;
          content: '\e619';
          font-family: "friend-trade";
          @include fz(14px);
          color: #cccccc;
          margin: 0 0 0 pr(10);
          transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          transition: transform .3s ease;
          -webkit-transition: -webkit-transform .3s ease;
        }
        &.readon {
          &:after {
            transform: rotate(-180deg);
            -webkit-transform: rotate(-180deg);
          }
        }
      }
    }
  }
  .history-time {
    position: relative;
    display: block;
    margin: 0 0 0 pr(60);
    padding: pr(40) pr(30) pr(50);
    border-left: 2px solid #ccc;
    h4 {
      position: absolute;
      font-weight: 400;
      font-style: italic;
      color: #888;
      @include fz(13px);
      left: pr(-18);
      top: pr(-10);
      &:before {
        display: inline-block;
        margin: 0 pr(10) 0 0;
        content: '\e618';
        font-family: 'friend-trade';
        color: #888;
        @include fz(18px);
        font-style: normal;
        background: #f4f4f4;
        vertical-align: middle;
      }
    }
    p {
      color: #333;
      @include fz(15px);
      line-height: 1.7;
      font-weight: 400;
    }
  }
}
//中屏用户操作结束


//右屏金币兑换开始
#containright {
  #rightheader {
    position: relative;
    height: pr(310);
    background: #ff9933;
    color: #fff;
    text-align: center;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: pr(-100);
      width: pr(1000);
      left: pr(-185);
      height: pr(400);
      background: #ff9933;
      border-radius: 50%;
      z-index: -1;
    }
    #money {
      padding: pr(35) 0 0 0;
      span {
        opacity: .8;
        @include fz(12px);
        display: block;
      }
      b {
        position: relative;
        line-height: pr(90);
        @include fz(46px);
        font-weight: 400;
        display: block;
        margin: pr(30) 0 pr(25) 0;
        height: pr(90);
        overflow: hidden;
        letter-spacing: pr(-25);
        padding: 0 pr(15);
      }
      p {
        width: pr(50);
        font-weight: 500;
        word-break: break-all;
        display: inline-block;
        max-width: 0;
        overflow: hidden;
        letter-spacing: 0;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transition: transform 1.2s cubic-bezier(0.25, 0.1, 0.76, 1.22),opacity .4s;
        -webkit-transition: -webkit-transform 1.2s cubic-bezier(0.25, 0.1, 0.76, 1.22),opacity .4s;
      }
      i {
        @include fz(14px);
        opacity: .8;
        font-weight: 300;
        line-height: pr(10);
        display: inline-block;
        margin: pr(62) 0 0 pr(5);
        vertical-align: top;
      }
    }
  }
  #number_Input {
    position: absolute;
    margin: pr(-122) 0 0 0;
    opacity: 0;
    padding: 0 pr(25);
    text-indent: pr(7);
    overflow: hidden;
    #single_delete {
      font-family: "friend-trade";
      position: absolute;
      top: pr(30);
      color: #fff;
      @include fz(24px);
      line-height: pr(60);
      right: pr(30);
      opacity: .9;
      -webkit-transform: translate3d(pr(80),0,0);
    }
    #single_delete:active{
      opacity: 1;
    }
    input {
      text-align: center;
      color: #fff;
      height: pr(105);
      background: transparent;
      border: none;
      @include fz(46px);
      line-height: pr(105);
      border-bottom: 2px solid #ddd;
      width: 100%;
      border-radius: 0;
      &:disabled{
        color: #fff;
        opacity: 1;
      }
    }
  }
  #notice {
    padding: 0 pr(30);
    h3 {
      opacity: .85;
      @include fz(12px);
      font-weight: bold;
      line-height: pr(28);
      margin: pr(10) 0 0 0;
      padding: pr(8) 0 pr(10);
    }
    p {
      opacity: .7;
      @include fz(10px);
    }
  }
  #rightfooter {
    height: pr(220);
    margin:  0 pr(20);
    z-index: 2;
    position: relative;
    #method{
      margin: pr(5) 0 0 0;
      li {
        @include fz(10px);
        background: #fff;
        margin: 0 0 pr(10) 0;
        border-radius: pr(2);
        padding: pr(25) pr(25) pr(25) pr(80);
        color: #888;
        box-shadow: 0 pr(2) pr(5) rgba(34, 34, 34, 0.02);
        position: relative;
        &:before {
          font-family: 'friend-trade';
          content: '\e613';
          position: absolute;
          top: pr(20);
          left: pr(15);
          @include fz(26px);
          color: #ddd;
        }
        &:nth-of-type(2):before {
          content: '\e614';
        }
        &:nth-of-type(3):before {
          content: '\e612';
        }
        &:after {
          font-family: 'friend-trade';
          content: '\e611';
          position: absolute;
          top: pr(35);
          right: pr(20);
          @include fz(14px);
          color: #e0e0e0;
        }
        &:last-child{
          margin: pr(30) 0 0 0;
        }
      }
      h4 {
        @include fz(14px);
        line-height: pr(24);
        padding: 0 0 pr(4) 0;
        color: #333;
        font-weight: bold;
      }
    }
    #number {
      top: pr(25);
      position: absolute;
      background: #fff;
      width: 100%;
      color: #888;
      box-shadow: 0 pr(2) pr(5) rgba(34, 34, 34, 0.02);
      border-radius: pr(2);
      z-index: -1;
      opacity: 0;
      max-height: pr(220);
      overflow: hidden;
      -webkit-transition:-webkit-transform .5s .2s ease;
      ul{
        letter-spacing: pr(-3);
        text-align: center;
      }
      li {
        width: 32.5%;
        display: inline-block;
        letter-spacing: 0;
        text-align: center;
        height: pr(130);
        line-height: pr(130);
        @include fz(17px);
        color: #666;
        border-left: 1px solid #F9F9F9;
        border-bottom: 1px solid #F9F9F9;
        &:nth-child(3n+1) {
          border-left: none;
        }
        &:active{
          background: #f4f4f4;
          box-shadow: 0 pr(2) pr(3) rgba(221, 221, 221, 0.51) inset;
        }
        &#never_mind{
          background: #f9f9f9;
          color: #bbb;
        }
        &#submit {
          background: #f9f9f9;
          color: #333;
          font-weight: bold;
        }
      }
    }
  }
}

#containright.input_on {
  #rightheader {
    #number_Input {
      opacity: 1;
    }
    #single_delete {
      -webkit-transition:-webkit-transform .2s .3s ease-out;
      -webkit-transform: translate3d(0,0,0);
    }
  }
  #rightfooter #number{
    -webkit-transform: translate3d(0,pr(-85),0);
    z-index: 2;
    max-height: pr(900);
    opacity: 1;
  }
}

#containright.withdraw #money {
  p {
    opacity: .1;
  }
  .alreadyinput {
    p {
      opacity: 0;
    }
  }
}

#containright.deposit #money p,#containright.deposit #money i {
  opacity:0;
}
//右屏金币兑换结束


//底部导航开始
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  text-align: center;
  box-shadow: 0 pr(-5) pr(30) rgba(0, 0, 0, .07);
  z-index: 888;
  .tab {
    display: inline-block;
    width: 32%;
    text-align: center;
    color: #aaa;
    padding: pr(15) 0 pr(8);
    @include fz(12px);
    font-weight: bold;
    box-sizing: border-box;
    span {
      color: #cccccc;
      font-weight: 300;
      @include fz(26px);
    }
  }
  .tabon {
    position: relative;
    color: #FD9940;
    text-shadow: 0 0 pr(40) rgba(0,0,0,.05);
    span {
      color: #ff9933;
    }
    &:after {
      content: '';
      position: absolute;
      display: inline-block;
      left: 50%;
      bottom: 0;
      width: pr(100);
      height: pr(5);
      margin: 0 pr(-50);
      background: #FD9940;
      border-radius: pr(7);
      box-shadow: 0 0 pr(40) rgba(0,0,0,.2);
    }
  }
}
//底部导航结束


//弹窗开始
#popup-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  transition: z-index .2s ease;
  -webkit-transition: z-index .2s ease;
}
#popup-block.popup-block {
  z-index: 999;
}

#popup-block-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0,0,0,.5);
  transition: opacity .4s ease;
  -webkit-transition: opacity .4s ease;
}
#popup-block-bg.popup-block-bg {
  opacity: 1;
}

#popup-block-content {
  position: relative;
  background: #fff;
  padding: 0 0 pr(70) 0;
  transform: translate3d(0,-100%,0);
  -webkit-transform: translate3d(0,-100%,0);
  transition: transform .4s ease .1s;
  -webkit-transition: -webkit-transform .4s ease .1s;
  #popup-block-header {
    margin: 0 0 pr(10) 0;
    height: pr(105);
    span {
      color: #bbb;
      position: absolute;
      top: pr(30);
      right: pr(30);
      @include fz(24px);
      font-weight: 300;
    }
  }
  #popup-block-content-box {
    max-height: pr(780);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    #popup-block-desc {
      position: relative;
      padding: pr(30);
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        height: 2px;
        width: 80%;
        background: #ddd;
      }
      &:after {
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        height: 2px;
        width: 65%;
        background: #ddd;
      }
      b {
        color: #777;
        font-weight: 400;
        @include fz(12px);
        letter-spacing: 1px;
        margin: 0 pr(6) 0 0;
      }
      i {
        display: inline-block;
        color: #ff9933;
        font-weight: bold;
        @include fz(18px);
        width: pr(350);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .popup-block-intro {
      display: block;
      padding: pr(60) pr(30) pr(120);
      text-align: center;
      img {
        margin: 0 auto;
        width: pr(150);
        height: pr(150);
        border-radius: 50%;
        border: pr(5) solid #ff9933;
        box-shadow: 0 pr(5) pr(35) rgba(0,0,0,.3);
      }
      h3 {
        margin: pr(45) 0 pr(5) 0;
        color: #666;
        @include fz(18px);
        font-weight: 400;
        text-shadow: 0 0 pr(20) rgba(0,0,0,.02);
      }
      h4,h5 {
        text-align: left;
        text-indent: pr(115);
        margin: pr(25) 0 0 0;
        color: #888;
        font-weight: 400;
        @include fz(16px);
        &:before {
          display: inline-block;
          color: rgba(255,153,51,.7);
          font-family: 'friend-trade';
          font-weight: 300;
          padding: 0 pr(10) 0 0;
          @include fz(20px);
        }
      }
      h4 {
        &:before {
          content: '\e601';
        }
      }
      h5 {
        &:before {
          content: '\e60c';
        }
      }
      p {
        color: #555;
        line-height: 1.5;
        @include fz(14px);
      }
    }
  }
}
#popup-block-content.popup-block-content {
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}

#popup-block-footer {
  bottom: 0;
  height: pr(90);
  transform: translate3d(0,130%,0);
  -webkit-transform: translate3d(0,130%,0);
  width: 100%;
  text-align: center;
  transition: transform .4s ease .1s;
  -webkit-transition: -webkit-transform .4s ease .1s;
  .popup-orange-btn {
    width: 100%;
    height: pr(130);
    overflow: hidden;
    line-height: pr(90);
    .widely-text {
      position: relative;
      display: block;
      text-align: center;
      @include fz(17px);
      color: #fff;
      font-weight: 400;
      letter-spacing: 2px;
      &:before {
        position: absolute;
        content: '\e60c';
        font-family: 'friend-trade';
        height: pr(95);
        line-height: pr(90);
        top: pr(12);
        left: pr(65);
        color: rgba(50,50,50,.05);
        @include fz(70px);
      }
      &:after {
        position: absolute;
        content: '\e611';
        font-family: 'friend-trade';
        height: pr(95);
        line-height: pr(90);
        top: pr(10);
        right: pr(20);
        font-weight: 800;
        color: rgba(255,255,255,.1);
        @include fz(100px);
        transform: scale(.7,1);
      }
    }
  }
  .popup-little-btn {
    margin: 0 auto;
    width: pr(270);
    height: pr(70);
    line-height: pr(70);
    @include fz(16px);
    color: #fff;
    background: #ff9933;
    border-radius: pr(40);
  }
}
#popup-block-footer.popup-block-footer0 {
  position: fixed;
  z-index: 30;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  background: #ff9933;
  box-shadow: 0 pr(-25) pr(30) rgba(0, 0, 0, .1);
}
#popup-block-footer.popup-block-footer1 {
  position: relative;
  transform: translate3d(0,-50%,0);
}
//弹窗结束