<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="hotcss" content="max-width=640">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="screen-orientation" content="portrait">
    <title>熊猫老师</title>
    <script src="../../js/hotcss.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../dest/css/May2/userself.css?rev=@@hash"/>
</head>
<body>
<header>
    <info></info>
</header>
<article>
    <nav>
        <div :class="{'on': on == 0 }" @click="switch(0)">记录列表</div>
        <div :class="{'on': on == 1 }" @click="switch(1)">预留资料</div>
    </nav>
    <div id="switch">
        <section id="contaninleft" :class="{'right0': on == 0,'left0' : on == 1}">
            <list v-for="el in list" :el="el"></list>
        </section>
        <section id="containright" :class="{'left1': on == 0,'right1': on == 1}">
            <list v-for="el in list" :el="el"></list>
        </section>
    </div>
</article>


<script type="vue/template" id="infoTpl">
    <!--.replace('wx.qlogo.cn','7xno47.com2.z0.glb.qiniucdn.com')-->
    <div id="avatar" :class="{'male' : sex == 0 ,'female' : sex == 1}">
        <figure
                :style="{'background-image' : 'url(' + img_url + '?imageView2/1/w/70)' }"
        ></figure>
    </div>
    <h3 v-text="nickname"></h3>
    <h4 v-text="sno"></h4>
    <p class="button">
        <a><b
            :class="{'isnot' : is_attend == 0 }"
            v-text="is_attend==0?'未入群':'已入群 '"
        ></b></a>
    </p>
</script>

<script type="vue/template" id="listTpl">
    <section class="section">
        <p class="date">
            <b v-text="el.date.split('-')[1] + '月' + el.date.split('-')[2] + '日'"></b>
            <i v-text="el.date.split('-')[0] + '年'"></i>
        </p>
        <ul class="records">
            <li v-show="el.record[1].status==0"
                :class="{'finish': el.record[0].status==1,'unfinish' : el.record[0].status==0}">
                <span v-text="el.record[0].status == 0?'暂未完成':'已完成'"></span>
                <b v-text="el.record[0].title"></b>
                <span>的阅读签到</span>
            </li>
            <li v-show="el.record[1].status==1" class="leave">
                <b>今天处于请假状态</b>
            </li>
            <li v-show="el.record[2].status==1" class="punish">
                <span>当天处于</span>
                <b v-text="el.record[2].desc"></b>
                <span>状态</span>
            </li>
        </ul>
    </section>
</script>


<script>
    var $data = {$data};
    console.log($data);
</script>
<!-- build:js -->
<script src="../../unitTest/May2/userself.js"></script>
<!-- endbuild -->

<script src="../../js/vue.min.js"></script>
<script src="../../js/May2/userself.js?rev=@@hash"></script>

</body>
</html>