@import "../iconfont";

$mainHei : 250px;
$spanWid : 50px;
$globalColor : #F17C9E;

* {
  padding: 0;
  margin: 0;
}

#main {
  position: relative;
  height: $mainHei;
  border: 1px solid $globalColor;
  span {
    display: inline-block;
    width: $spanWid;
    height: $mainHei;
    line-height: $mainHei;
    color: $globalColor;
    text-align: center;
    font-size: 20px;
    &:nth-child(2) {
      float: right;
    }
  }
  article {
    position: absolute;
    top: 0;
    padding: 20px $spanWid;
    height: $mainHei;
    width: 100%;
  }
  ul {
    position: absolute;
    width: 100%;
    list-style: none;
    vertical-align: bottom;
  }
  li {
    position: absolute;
    border: 1px dashed $globalColor;
    height: $mainHei - 40px;
    width: 50%;
    background: #fff;
    overflow: hidden;
    transition: -webkit-transform .8s ease;
    box-shadow: 0 0 30px rgba(0,0,0,.1);
    figure {
      display: inline-block;
      img {
        width: 130px;
        height: 130px;
        background-position: center;
        background-size: cover;
      }
    }
    &.left {

    }
    &.right {
      right : 50px;
    }
    &.center {
      transform: scale(1.1) translate3d(25%, 0 ,0);
      z-index: 100;
    }
  }
}