@import "../iconfont";
@import "../reset";
$orange : rgb(254,172,158);
$start : rgb(149,188,255);
$end : rgb(207, 225, 255);
$blue : rgb(146,186,255);
$gray1: rgb(156,155,171);
$gray2 : rgb(199,198,214);

body {
  padding: 0;
  margin: 0;
}

header {
  position: relative;
  background: -webkit-gradient(linear,0 0,0 100%,from($start),to($end));
  box-shadow: 0 0 10px $start;
  span {
    display: inline-block;
    color: #fff;
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
  }
  h3 {
    position: absolute;
    top: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: bolder;
  }
}


#main {
  width: 100%;
  height: 200px;
}


#top {
  margin: 20px 0 0 0;
  h3 {
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: $gray1;
  }
  p {
    width: 65%;
    margin: 7px auto;
    color: $gray2;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
  }
}

#bottom {
  margin: 20px 0 0 0;
  table {
    display: inline-block;
    width: 100%;
    tr {
      display: inline-block;
      width: 100%;
      text-align: center;
      height: 40px;
      line-height: 40px;
      td {
        display: inline-block;
        color: #444;
        &:nth-child(1){
          width: 44%;
          text-align: left;
        }
        &:nth-child(2){
           text-align: left;
           width: 15%;
           padding: 0 0 0 3%;
        }
        &:nth-child(3){
          text-align: right;
          width: 20%;
        }
      }
    }
  }
}

.blue-point {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $blue;
  vertical-align: middle;
  margin: 0 10px 5px 0;
}
.red-point {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $orange;
  vertical-align: middle;
  margin: 0 10px 5px 0;
}

.blue {
  color: $blue!important;
}
.orange {
  color: $orange!important;
}





