@charset "UTF-8";
@import "../iconfont";


$headHeight : 50px;
$liHeight : 40px;
$styleColor : #40CCC0;
$styleColorOpacity : rgba(64,204,192,.5);
* {
  padding: 0;
  margin: 0;
}

/*body {
  background: #f4f4f4 ;
}*/

/*#date-selector-input {
  padding: 3px 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 20px;
}*/

#date-selector-bg {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(75,75,75,0);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: background .3s ease;
  z-index: -1;
}

.date-selector-bg {
   z-index: 999!important;
   background: rgba(75,75,75,.65)!important;
}

#date-selector-container {
  width: 100%;
  height: 250px;
  position: absolute;
  bottom: -250px;
  left: 0;
  background-color: #FFF;
  transition: all .2s ease;
}
.date-selector-container {
  bottom: 0!important;
  transition-delay: .5s;
}

.date-selector-btn-box {
  display: flex;
  justify-content: space-between;
  height: $headHeight;
  line-height: $headHeight;
  background: $styleColor;
  & .date-selector-btn {
    margin: 0 20px;
    color: #fff;
  }
}

.date-selector-tab-box {
  border-radius: 10px;
  margin: 10px 0;
  height: 30px;
  box-sizing: border-box;
  line-height: 30px;
  display: inline-flex;
  color: $styleColor;
  background: #fff;
  border: 1px solid #fff;
  & .date-selector-tab {
    padding: 0 10px;
    transition: all .3s ease;
    &:first-child {
      border-right: 1px solid #fff;
    }
  }
  & .date-selector-tab-active {
    color: #fff;
    border-radius: 10px;
    background: $styleColorOpacity;
  }
}

.date-selector-content-left {
   left: -100%!important;
 }

.date-selector-content-right {
  left: 100%!important;
}

.date-selector-content {
  position: absolute;
  width: 100%;
  background: #fff;
  font-size: 0;
  left: 0;
  transition: left .3s ease;
  & .date-selector {
    display: inline-block;
    height: $liHeight * 5;
    overflow: hidden;
  }

  & .date-selector-left {
    width: 33.33%;
  }

  & .date-selector-right{
    width: 50%;
  }

  & ul::-webkit-scrollbar {
    display: none;
  }

  & li {
    height: $liHeight;
    text-align: center;
    font-size: 16px;
    line-height: $liHeight;
    list-style: none;
  }

  & .date-selector-up-shadow, .date-selector-down-shadow {
    width: 100%;
    height: $liHeight * 2;
    position: absolute;
    pointer-events: none;
    background-image: linear-gradient(to bottom, #FFF, rgba(255, 255, 255, 0));
  }

  & .date-selector-up-shadow {
    top: 0;
  }
  & .date-selector-down-shadow {
    bottom: 0;
    background-image: linear-gradient(to top, #FFF, rgba(255, 255, 255, 0));
  }

  .date-selector-line {
    width: 95%;
    height: $liHeight;
    position: absolute;
    top: $liHeight * 2;
    left: 50%;
    pointer-events: none;
    box-sizing: border-box;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    transform: translate(-50%, 0 );
  }
}